<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyB4k_4SZPFqodvxAYvHqRy4EqQu09p6un0",
    authDomain: "abc-dbcfny.firebaseapp.com",
    databaseURL: "https://abc-dbcfny.firebaseio.com",
    projectId: "abc-dbcfny",
    storageBucket: "abc-dbcfny.appspot.com",
    messagingSenderId: "63436823175",
    appId: "1:63436823175:web:2c48dd03c84fe727f33622"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>