{
	"editor.fontSize": 15,
	// "go.gopath": "~/go",
	"editor.insertSpaces": false,
	"editor.wordWrap": "on",
	"editor.cursorStyle": "line",
	"editor.detectIndentation": true,
	"editor.fontFamily": "Operator Mono SSM Lig",
	"editor.minimap.renderCharacters": false,
	"editor.mouseWheelZoom": false,
	"editor.smoothScrolling": true,
	"editor.wrappingIndent": "indent",
	"editor.lineHeight": 28,
	"editor.letterSpacing": 1,
	"javascript.format.placeOpenBraceOnNewLineForControlBlocks": true,
	"javascript.format.placeOpenBraceOnNewLineForFunctions": true,
	"typescript.format.placeOpenBraceOnNewLineForFunctions": true,
	"typescript.format.placeOpenBraceOnNewLineForControlBlocks": true,
	"terminal.integrated.fontSize": 14,
	"nasc-touchbar.addCursorBelow": false,
	"nasc-touchbar.gitSync": true,
	"nasc-touchbar.rename": false,
	"nasc-touchbar.showCommands": false,
	"nasc-touchbar.peekDefinition": true,
	"nasc-touchbar.jumpToBracket": true,
	"files.useExperimentalFileWatcher": false,
	"files.autoSaveDelay": 100000,
	"editor.cursorBlinking": "expand",
	// "nasc-touchbar.addCursorAbove": true,
	"remotehub.githubToken": "a4945949129c9bb2eee42a0d0988ce045951137b",
	"workbench.colorTheme": "Sam Monokai Dark",
	"C_Cpp.clang_format_style": "file",
	"todohighlight.exclude": [
		"**/node_modules/**",
		"**/bower_components/**",
		"**/dist/**",
		"**/build/**",
		"**/.vscode/**",
		"**/.github/**",
		"**/_output/**",
		"**/*.min.*",
		"**/*.map",
		"**/.next/**",
		"**/platforms/**",
		"**/assets/imgs/Ionic App_files/**",
		"**/plugins/**",
		"**/vendor.js"
	],
	"todohighlight.keywords": [],
	"todo-tree.defaultHighlight": {
		"icon": "verified",
		"type": "text",
		"foreground": "green",
		"iconColour": "lightgreen"
	},
	"todo-tree.customHighlight": {
		"INFO":{
			"icon": "issue-opened",
			"type": "line",
			"foreground": "blue",
			"background": "green",
			"iconColour": "white"
		},
		"TODO": {
			"icon": "issue-opened",
			"type": "line",
			"foreground": "#ff0000",
			"background": "#FFFFFF",
			"iconColour": "yellow"
		},
		"FIXME": {
			"icon": "alert",
			"type": "line",
			"foreground": "red",
			"background": "white",
			"iconColour": "blue"
		},
		"COMPLETED": {
			"icon": "verified",
			"type": "text",
			"foreground": "#c8ff77",
			"background": "#161616",
			"iconColour": "lightgreen"
		},
		"FUTURETODO":{
			"icon":"watch",
			"type" :"text",
			"foreground":"green",
			"background":"black",
			"iconColour":"white"
		},
		"DONE":{
			"icon":"verified",
			"type" :"text",
			"foreground":"green",
			"background":"black",
			"iconColour":"white"
		}
	},
	"todo-tree.tags": [
		"INFO",
		"TODO",
		"FIXME",
		"COMPLETED",
		"FUTURETODO",
		"DONE"
	],
	"files.associations": {
		"*.cpp": "cpp"
	},
	"files.exclude":{
		"**/.git": true,
		"**/.svn": true,
		"**/.hg": true,
		"**/CVS": true,
		"**/.DS_Store": true,
		"**/*.js": { "when": "$(basename).ts"}
	},
	"workbench.startupEditor": "newUntitledFile",
	"java.errors.incompleteClasspath.severity": "ignore",
	"breadcrumbs.enabled": true,
	"window.zoomLevel": -1,
	"window.closeWhenEmpty": true,
	"window.nativeTabs": true,
	"window.restoreWindows": "all",
	"workbench.editor.enablePreview": false,
	"workbench.editor.swipeToNavigate": true,
	"workbench.editor.tabCloseButton": "off",
	"window.newWindowDimensions": "inherit",
	"window.openFilesInNewWindow": "on",
	"explorer.openEditors.visible": 0,
	"search.smartCase": true,
	"editor.minimap.showSlider": "always",


	// FROM KL
	"code-runner.executorMap": {
        "cpp": "g++ main.cpp -o main.o && ./main.o < in.txt"
    },
    "files.associations": {
        "stack": "cpp",
        "ostream": "cpp",
        "istream": "cpp"
	},
	"todo-tree.statusBar": "top three",
	"git.autofetch": true,
	"javascript.updateImportsOnFileMove.enabled": "always",
	"editor.suggestSelection": "first",
	"vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
	"python.jediEnabled": false,
	"[python]": {},
	"[javascript]": {
		"editor.defaultFormatter": "vscode.typescript-language-features"
	},
	"[json]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"[html]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"[css]": {
		"editor.defaultFormatter": "HookyQR.beautify"
    },
	"files.exclude": {
		"\"**/*.js\"": true,
		"**/.classpath": true,
		"**/.factorypath": true,
		"**/.project": true,
		"**/.settings": true
	},
	"liveshare.featureSet": "insiders",
	"C_Cpp.updateChannel": "Insiders",
	"files.autoSave": "afterDelay",
	"powermode.shakeIntensity": 1,
	"powermode.enableShake": false,
	"terminal.integrated.fontFamily": "Meslo LG L DZ for Powerline",
	"terminal.external.osxExec": "Hyper.app",
	"terminal.integrated.cursorBlinking": true,
	"tslint.configFile": "./tslint.json",
	"[typescript]": {
		"editor.defaultFormatter": "vscode.typescript-language-features"
	},
	"prettier.tslintIntegration": true,
	"typescript.updateImportsOnFileMove.enabled": "always",
	"editor.fontLigatures": true,
	"editor.wordWrapColumn": 57,
	"todo-tree.highlights.customHighlight": {
		"INFO": {
			"icon": "issue-opened",
			"type": "line",
			"foreground": "blue",
			"background": "green",
			"iconColour": "white"
		},
		"TODO": {
			"icon": "issue-opened",
			"type": "line",
			"foreground": "#ff0000",
			"background": "#FFFFFF",
			"iconColour": "yellow"
		},
		"FIXME": {
			"icon": "alert",
			"type": "line",
			"foreground": "red",
			"background": "white",
			"iconColour": "blue"
		},
		"COMPLETED": {
			"icon": "verified",
			"type": "text",
			"foreground": "#c8ff77",
			"background": "#161616",
			"iconColour": "lightgreen"
		},
		"FUTURETODO": {
			"icon": "watch",
			"type": "text",
			"foreground": "green",
			"background": "black",
			"iconColour": "white"
		},
		"DONE": {
			"icon": "verified",
			"type": "text",
			"foreground": "green",
			"background": "black",
			"iconColour": "white"
		}
	},
	"todo-tree.highlights.defaultHighlight": {
		"icon": "verified",
		"type": "text",
		"foreground": "green",
		"iconColour": "lightgreen"
	},
	"todo-tree.general.statusBar": "top three",
	"todo-tree.general.tags": [
		"INFO",
		"TODO",
		"FIXME",
		"COMPLETED",
		"FUTURETODO",
		"DONE"
	],
	"git.enableSmartCommit": true,
	"editor.fontWeight": "400",
	"diffEditor.ignoreTrimWhitespace": false,
	"editor.largeFileOptimizations": false,
	"markdown-preview-enhanced.previewTheme": "night.css",
	"todo-tree.tree.showScanModeButton": false,
	"window.titleBarStyle": "native",
	"workbench.editor.titleScrollbarSizing": "large",
	"diffEditor.renderSideBySide": true,
	"editor.definitionLinkOpensInPeek": true,
	"editor.gotoLocation.multipleDefinitions": "goto",
    "editor.gotoLocation.multipleTypeDefinitions": "goto",
	"python.languageServer": "Microsoft",
	"[dart]": {
		"editor.formatOnSave": true,
		"editor.formatOnType": true,
		"editor.rulers": [
			80
		],
		"editor.selectionHighlight": false,
		"editor.suggest.snippetsPreventQuickSuggestions": false,
		"editor.suggestSelection": "first",
		"editor.tabCompletion": "onlySnippets",
		"editor.wordBasedSuggestions": false
	},
	"dart.debugExternalLibraries": false,
	"dart.debugSdkLibraries": false,
	"gitlens.codeLens.includeSingleLineSymbols": true,
	"gitlens.hovers.annotations.over": "annotation",
	"prettier.jsxSingleQuote": true,
	"prettier.singleQuote": true,
	"prettier.useTabs": true,
	"prettier.vueIndentScriptAndStyle": true,
	"prettier.disableLanguages": [
		"dart"
	],
    "workbench.activityBar.visible": false,
	"jupyter.sendSelectionToInteractiveWindow": true,
	"clangd.path": "/Users/eugene/Library/Application Support/Code/User/globalStorage/llvm-vs-code-extensions.vscode-clangd/install/11.0.0/clangd_11.0.0/bin/clangd",
	"[vue]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"workbench.editorAssociations": [
		{
			"viewType": "jupyter.notebook.ipynb",
			"filenamePattern": "*.ipynb"
		}
	],
}
